/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #1B3351;
    --primary-100: #112133;
    --primary-200: #1B2332;
    --gold: #CEA939;
    --gold-slate: #8e8e8e8c;
    --font-montserrat: "Montserrat", sans-serif;
    --font-nomal: 200;
    --font-semibold: 500;
    --font-bold: 700;
    --font-bolder: 900;
}

body {
    background-color: var(--primary-100);
}


.cambo-flag {
    width: 22.9861px;
    border: 1px solid white;
    border-radius: 2px;
}



.top-nav {
    height: 120px;
    width: 100vw;
    background-color: var(--primary);
}

.top-nav > .nav-container {
    width: 85vw;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.top-nav > .nav-container > figure > .logo {
    width: 250px;
}



.top-nav > .nav-container > ul > li {
    display: inline-block;
    padding: 15px 10px;
    color: white;   
    font-family: var(--font-montserrat);
    transition: all 50ms;
    position: relative;
    list-style: none !important;
}

.top-nav > .nav-container > ul > li:hover {
    background-color: var(--primary-100);
    cursor: pointer;
}

.top-nav > .nav-container > ul > li.flag-container {
    padding: 5px 10px;

}

.active {
    color: var(--gold) !important;
}


.robot {
    position: fixed;
    bottom: 0px;
    
    right: 20px;
}


.robot > img {
    height: 60px;
}

li > .dropdown {
    position: absolute;
    height: 0px;
    width: 200px;
    top: 100%;
    left: -29px;
    background-color: var(--primary-200);   
    overflow: hidden;
    transition: all 0.2s;
    z-index: 100;
}


.top-nav > .nav-container > ul > li:hover .dropdown {
    height: 300px;
    border-top: 1px solid var(--gold-slate);
}

.top-nav > .nav-container > ul > li > .fa-chevron-down {
    transition: all 150ms;
}

.top-nav > .nav-container > ul > li:hover .fa-chevron-down {
 transform: rotate(180deg);

}

.dropdown > li {
    padding: 10px;
    /* display: flex;
    justify-content: end; */
    text-align: end;
}

.dropdown> li:hover {
    text-decoration: underline var(--gold);
    color: var(--gold);
}

.border-top {
    border-top: 1px solid var(--gold-slate);
}











